<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOBRE NÓS</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>EloDark</h1>

    <header class="header">
        <nav class="menu">
            <ul>
                <li>
                    <a href="index.php">Home</a>
                </li>
                <li>
                    <a href="sobre.php">Sobre</a>
                </li>
                <li>
                    <a href="cadastro.php">Cadastro</a>
                </li>
                <li>
                    <a href="#">Contato</a>
                </li>
            </ul>
        </nav>
    </header>

    <br>
    
    <center>

    <h3> SOBRE NÓS</h3>

    <p class="psobre">A EloDark disponibiliza o serviço de Elo Boosting, com objetivo de proporcionar
        melhores condições de experiência nas partidas para os jogadores. A Elo Dark é formada por um
        grupo de jogadores altamente qualificados. Nossa equipe é composta por jogadores de elite,
        incluindo jogadores do Desafiante e Grão-Mestre, que têm anos de experiência no jogo e uma
        compreensão profunda da mecânica, estratégia e táticas do LoL. Nossa dedicação ao jogo e
        nosso compromisso com o serviço de qualidade nos tornam a escolha número um para todos os
        seus requisitos de Elo Job.
    </p>

    </center>

</body>

</html>