<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de novo usuário</title>
</head>
<body>
    
   <form action="/verifica_teste" method="post" name="formulario">   <!---->
        <h2>Dados do aluno</h2>
        <label for="">Nome</label>
        <input type="text" name="nome" required>
        <label for="">Nome do Responsavel</label>
        <input type="text" name="nome_responsavel" required>
        <label for="">Sexo</label>
        <select name="sexo" id="" required>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
        <label for="">CPF</label>
        <input type="text" name="cpf" required>
        <label for="">Número do RG</label>
        <input type="text" name="rg" required>
        <label for="">Cídade de nascimento</label>
        <input type="text" name="cidade_origem" required>
        <label for="">Data de nascimento</label>
        <input type="text" name="dia"  required>
        <select name="mes" id="" required>
            <option value="Janeiro">Janeiro</option>
            <option value="Fevereiro">Fevereiro</option>
            <option value="Março">Março</option>
            <option value="Abril">Abril</option>
            <option value="Maio">Maio</option>
            <option value="Junho">Junho</option>
            <option value="Julho">Julho</option>
            <option value="Agosto">Agosto</option>
            <option value="Setembro">Setembro</option>
            <option value="Outubro">Outubro</option>
            <option value="Novembro">Novembro</option>
            <option value="Dezembo">Dezembo</option>

        </select>
        <input type="text" name="ano" required>

        <h2>Endereço</h2>
        <label for="">Logradouro - Nº</label>
        <input type="text" name="rua" required>
        <input type="number" name="numero" required min="1">
        <label for="">Bairro</label>
        <input type="text" name="bairro" required id="">
        <label for="">CEP</label>
        <input type="text" name="cep" required>

        <h2>Dados do responsavel</h2>
        <label for="">Telefone responsavel 1</label>
        <input type="text" name="telefone_responsavel1" required>
        <label for="">Telefone responsavel 2 (opcional)</label>
        <input type="text" name="telefone_responsavel2">
        <label for="">CPF do responsavel</label>
        <input type="text" name="cpf_responsavel" required><br>
    </form>
        
        <button onclick="cadastro()">Cadastrar</button>
        <script src="/teste.js"></script>
    </body>
</html>