#central{
  
   height: auto;
   margin:0 auto;
   background-color: aqua;
   display: inline;
}
.blocos{
    display: block;
}
#dados{
    width:50%;
    height: auto;
    

}
label{
    font-size: 25px;
}
h1{
    font-size: 43px;
}
